.div_contenedor_nueva_actividad{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}
.div_content_datos_actividades{
	background: rgba(0,0,0,0.3);
	border-radius:5px;
	width: 100%;
	padding: 10px;
}
.estilo_nombre_actividad {
	color: #069;
	font-size: 16px;
	font-weight: bold;
}

.horizontal_label_texbox{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.estilo_btnEditar {
	background:#fabb3d; 
	border-color:#fabb3d; 
	border-radius: 20px;
	width: 100px;
	color: black;
}

.estilo_btnActivar {
	background: #13E616; 
	border-color: #13E616; 
	border-radius: 20px;
	width: 100px;
	color: black;
}

.estilo_btnEditar:HOVER {
	text-decoration: underline;
}

.estilo_btnActivar:HOVER {
	text-decoration: underline;
}
@MEDIA (max-width:700px) {
	.div_contenedor_nueva_actividad{
		flex-direction:column;
		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		-ms-flex-direction:column;
		-o-flex-direction:column;
	}
	
	.estilo_nombre_actividad {
		font-size: 13px;
	}
	
	.div_content_img_list{
		width: 40% !important;
		padding: 1%;
	}
	
	.descripcion_costado {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	}
	
	.estilo_btnEditar {
		width: 50px;
	}

	.estilo_btnActivar {
		width: 50px;
	}
	
	.horizontal_label_texbox {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		flex-direction:column;
		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		-ms-flex-direction:column;
		-o-flex-direction:column;
	}
	
	.div_content_img_lista{
		width: 100% !important;
	}
	
	.div_content_datos_lista {
		width: 100% !important;
	}
	
	.div_content_actualizar {
		width: 100% !important;
	}
	
	.div_contenedor_datos_actividad{
		width: 100%;
	}
	
	.div_content_info_listActividad {
		width: 60%;
	}
}
.div_contenedor_datos_actividad{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	width: 97%;
}

.div_content_datos_lista{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding: 10px;
	width: 40%;
}

.div_content_actualizar {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	width: 15%;
}

.div_content_info_listActividad {
	width: 60%;
}
.lbl_rest_num{
	color: red;
	font-weight: bold;
}
.style_restricciones.z-radiogroup{
	background: rgba(0,0,0,0.2);
	padding: 8px;
	border-radius:5px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
}
.style_restricciones.z-radiogroup .z-radio input[type="radio"]{
	display: none;
}
.style_restricciones.z-radiogroup .z-radio label{
/* 	color: #053351; */
/* 	margin-left: 7px; */
	display: inline-block;
    cursor: pointer;
    color: #053351;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    font-weight:bold;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.style_restricciones.z-radiogroup .z-radio label:hover{
	background: rgba(0, 0, 0, 0.2);
}
.style_restricciones.z-radiogroup .z-radio label:before{
	  content:'';
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #053351;
}
.style_restricciones.z-radiogroup input[type="radio"]:checked + label:before {
      display: none; 
}
.style_restricciones.z-radiogroup input[type="radio"]:checked + label{
	  padding: 5px 15px;
      background: #053351;
      border-radius: 2px;
      color: #fff;
}